.row
  #page-title.d-flex.justify-content-between.align-items-center.px-3.py-2
    h1.page-header.text-overflow.col-md-8 صور المتجر

table.table.table-bordered.table-striped.table-hover

  tbody


    tr.align-middle
      td.col-4
        p (ICO)
        p الأيقونة
        p.text-secondary (العرض والطول الموصى بهما: - 71px:71px*)
      td.col-8
        .col.col-md-4.align-middle
          img.border.border-4.my-4(src="/img/upload/logoMega.png", alt='Product image', style='height: 71px;')
        
    
        button.btn.btn-primary.btn-labeled
          .fa.fa-save
          span.mx-1 حفظ

          
    tr.align-middle
      td.col-4
        p الشعار (JPG/PNG)
        p.text-secondary (العرض والطول الموصى بهما: - 350px:350px*)
      td.col-8
        .col.col-md-4.align-middle
          img.border.border-4.my-4(src="/img/upload/logoMega.png", alt='Product image', style='height: 350px;')        
    
        button.btn.btn-primary.btn-labeled
          .fa.fa-save
          span.mx-1 حفظ

          
    tr.align-middle
      td.col-4
        p الشعار (JPG/PNG)
        p.text-secondary (العرض والطول الموصى بهما: - 350px:350px*)
      td.col-8
        .col.col-md-4.align-middle
          img.border.border-4.my-4(src='https://via.placeholder.com/1920x1080', alt='Product image', style='height: 300px;')    
          
    
        button.btn.btn-primary.btn-labeled
          .fa.fa-save
          span.mx-1 حفظ
        button.btn.btn-primary.btn-labeled.mx-2
          .fa.fa-save
          span.mx-1 اضف المزيد

          
    tr.align-middle
      td.col-4
        p خلفية قائمة المنتجات (JPG/PNG)
        p.text-secondary (العرض والطول الموصى بهما: - 533px:1080px*)
      td.col-8
        .col.col-md-4.align-middle
          img.border.border-4.my-4(src='https://via.placeholder.com/533x1080', alt='Product image', style='height: 300px;')    
          
    
        button.btn.btn-primary.btn-labeled
          .fa.fa-save
          span.mx-1 حفظ
        

          
    tr.align-middle
      td.col-4
        p (ICO)
        p الأيقونة
        p.text-secondary (العرض والطول الموصى بهما: - 71px:71px*)
      td.col-8
        .col.col-md-4.align-middle
          img.border.border-4.my-4(src="/img/upload/logoMega.png", alt='Product image', style='height: 150px;')
        
    
        button.btn.btn-primary.btn-labeled
          .fa.fa-save
          span.mx-1 حفظ


    
.row
#page-title.d-flex.justify-content-between.align-items-center.px-3.py-2


.col.d-flex.justify-content-end
  button.btn.btn-primary.btn-labeled.mx-2
    .fa.fa-save
    span= " حفظ "